* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.full-page {
    width: 100%;
    height: 100vh;
    background-color: rgb(214, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container {
    width: 80%;
    height: auto;
    background-color: rgb(53, 53, 235);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px 0px;
}

.form-container > h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.form-container > input {
    width: 25%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}
.form-container > button {
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(30, 160, 71);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.contact-card {
    width: 30%;
    display: flex;
    background-color: turquoise;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic-container > img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgb(205, 223, 235);
}
.contact-info-container {
    margin-right: 15px;
    margin-left: 15px;
}
.contact-action-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-action-container > button {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.profile-pic {
    width: 20%;
}
.editBtn {
    background-color: rgb(53, 53, 235);
    color: white;
}

.deleteBtn {
    background-color: rgb(235, 53, 53);
    color: white;
}

.contacts-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}