.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 150px;
    height: auto;
    background-color: aquamarine;
    border: 2px solid green;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px;
    margin: 0px 10px;
}