.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 150px;
    border: 2px solid blue;
    margin: 0px 10px;
    background-color: lightcyan;
}
.btn-flex {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: lightcyan;
}

.btn:hover {
    background-color: deepskyblue;
    color: white;
    cursor: pointer;
}

.txt-box {
    margin: 50px 0px;
}
h1 {
    font-size: 100px;
    font-weight: bolder;
}